/* Selector {
   Property: value; 
} */

* {
    text-align: right;
}
body {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}
h2, p {
   color: #2f2370;
   text-align: center; 
   border: 5px solid rgba(130, 28, 177, 0.5);
   cursor: pointer;
}

p {
    color: pink;
}

p {
    color: rgb(97, 75, 119);
}

li {
    list-style: none;
    display: block;
}

.webtext {
    border: 5px dashed rgb(16, 44, 131);
}

    .active {
        color:rgb(68, 65, 225);
    }

    #div1 {
        background: rgb(5,5,44);
    }

    #div2 {
        background: rgb(5, 5, 44);
    }